/* Toolbar icon */
#devdocs-viewer-icon {
    background: url(book-sprite.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

#devdocs-viewer-icon.active {
    background-position: 0 -24px !important;
}

/* DevDocs panel */
#devdocs-viewer-iframe {
    background: white;
}